*.log

*.pot

*.pyc

# User-specific stuff:
**/currency_history.txt
**/stock_history.txt
**/realtime.log
**/chromedriver
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml


**/global_config.py

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/